<html>

<head>
    <title>Demo Form</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="container"><br>
        <center>
            <h2>Щас угадаю сложность пароля...</h2>
        </center>
    </div>

    <div class="container"><br>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <form action="" method="POST" role="form">
                    <div class="form-group">
                        <div class="btn-group w-100" role="group" aria-label="First group">
                            <input type="text" class="form-control" name="password" placeholder="Введите пароль..">
                            <button type="submit" class="btn btn-success">Отправить</button>
                        </div>
                        <div class="form-row mt-5">
                            <div class="col">
                                <label for="password_id">Ваш пароль:</label>
                                <input type="text" class="form-control" id="password_id" placeholder="{{ password }}"
                                    readonly>
                            </div>
                            <div class="col">
                                <label for="prediction_id">Его частота:</label>
                                <input type="text" class="form-control" id="prediction_id"
                                    placeholder="{{ prediction }}" readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container"><br>
        <center>
            <img src="{{url_for('static', filename='explain.png')}}" class="img-fluid" alt="Responsive image">
        </center>
    </div>
</body>

</html>